@charset "UTF-8";
/*= = = = = = = = = = = = = */
/*= = = = =FOOTER = = = = = */
/*= = = = = = = = = = = = = */
#copyright {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  z-index: 2;
}

main section .row .gallerySquadre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main section .row .gallerySquadre .rosa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
main section .row .gallerySquadre .dettaglio {
  display: flex;
  flex-direction: column;
}
main section .row .gallerySquadre .dettaglio .logo {
  width: 15rem;
  margin: 0 auto;
}
main section .row .gallerySquadre .dettaglio .descrizione {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main section .row .gallerySquadre:nth-child(even) .rosa {
  order: 1;
}
main section .row .gallerySquadre:nth-child(even) .dettaglio {
  order: 2;
}
main section .row .gallerySquadre:nth-child(odd) .rosa {
  order: 1;
}
main section .row .gallerySquadre:nth-child(odd) .dettaglio {
  order: 2;
}
main section .row .galleryGiornate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
main section .row .galleryGiornate img {
  flex: 1 0 48%;
  max-width: 48%;
  height: auto;
}

@media (min-width: 768px) {
  main section .row .gallerySquadre {
    display: flex;
    flex-direction: row;
  }
  main section .row .gallerySquadre .rosa {
    width: 50%;
    display: flex;
  }
  main section .row .gallerySquadre .dettaglio {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
  }
  main section .row .gallerySquadre .dettaglio .logo {
    max-height: 20rem;
  }
  main section .row .gallerySquadre:nth-child(even) .rosa {
    order: 2;
  }
  main section .row .gallerySquadre:nth-child(even) .dettaglio {
    order: 1;
  }
  main section .row .gallerySquadre:nth-child(odd) .rosa {
    order: 1;
  }
  main section .row .gallerySquadre:nth-child(odd) .dettaglio {
    order: 2;
  }
  main section .row .galleryGiornate {
    display: flex;
    flex-wrap: nowrap;
  }
  main section .row .galleryGiornate img {
    flex: 1 0 25%;
    max-width: 25%;
    height: auto;
  }
}
/*= = = = = = = = = = = = = */
/*= = = = =HEADER = = = = = */
/*= = = = = = = = = = = = = */
header {
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header nav {
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 6rem;
  padding: 0 1rem;
  width: 100%;
}
header nav .logo {
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
}
header nav .menu-icon {
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  cursor: pointer;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header nav .menu-icon img {
  height: 100%;
  animation: rotate360 25s linear infinite;
}
header.sticky {
  background-color: rgb(33, 33, 33);
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
header.sticky nav {
  height: 6rem;
}
header.sticky nav .nav-links li a {
  color: rgb(245, 245, 245);
}
@media (min-width: 768px) {
  header nav {
    padding: 0 2rem;
    height: 6rem;
  }
  header nav .logo {
    height: 5rem;
    width: 5rem;
  }
  header nav .nav-links {
    display: flex;
  }
  header nav .menu-icon {
    height: 5rem;
    width: 5rem;
  }
}
/*= = = = = = = = = = = = = */
/*= = = = =SIDEBAR= = = = = */
/*= = = = = = = = = = = = = */
.offcanvas {
  position: fixed;
  top: 0;
  right: -18rem;
  width: 18rem;
  height: 100%;
  background-color: rgb(33, 33, 33);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease-in-out;
  z-index: 1001;
}
.offcanvas .offcanvas-content {
  padding: 2rem;
}
.offcanvas .offcanvas-content .nav-links {
  list-style: none;
  padding: 0;
  margin: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.offcanvas .offcanvas-content .nav-links li {
  width: 100%;
  margin-bottom: 0.8rem;
  color: rgb(245, 245, 245);
  font-size: calc(26px + 19 * (100vw - 320px) / 1600);
  font-weight: 400;
  border-bottom: 0.05rem solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.offcanvas .offcanvas-content .nav-links li a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
.offcanvas .offcanvas-content .nav-links li a.disabled {
  opacity: 0.9;
  cursor: default;
}
.offcanvas .offcanvas-content .nav-links li.active a {
  color: #7b00ff;
}
.offcanvas .offcanvas-content .nav-links li:last-child {
  margin-bottom: 0;
}
.offcanvas .offcanvas-content .nav-links li .submenu {
  display: none;
}
.offcanvas .offcanvas-content .nav-links li .submenu ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}
.offcanvas .offcanvas-content .nav-links li .submenu ul li {
  font-size: calc(20px + 16 * (100vw - 320px) / 1600);
  font-weight: 300;
  border-bottom: 0;
}
.offcanvas .offcanvas-content .nav-links li:hover .submenu, .offcanvas .offcanvas-content .nav-links li:focus .submenu {
  display: flex;
  flex-direction: column;
  color: #7b00ff;
}
.offcanvas .offcanvas-content .logo {
  display: flex;
  align-items: flex-start;
  width: 4rem;
  height: 4rem;
}
.offcanvas .offcanvas-content .close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  color: rgb(245, 245, 245);
}
.offcanvas.open {
  right: 0;
}
@media (min-width: 768px) {
  .offcanvas .offcanvas-content .nav-links {
    margin: 4rem 0;
  }
}
.offcanvas-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: 0.8s ease-in-out;
}

.offcanvas.open ~ .offcanvas-overlay {
  transition: 0.8s ease-in-out;
  display: block;
  opacity: 1;
}

/*= = = = = = = = = = = = = */
/*= = = = SCROLLBAR = = = = */
/*= = = = = = = = = = = = = */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(33, 33, 33);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b00ff;
  border-radius: 0.5rem;
}

/*= = = = = = = = = = = = = */
/*= = = = =section = = = = = */
/*= = = = = = = = = = = = = */
main {
  position: relative;
  margin-top: 0;
}
main section {
  width: 100vw;
  opacity: 1;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
main section * {
  z-index: 2;
}
main section .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  main section .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.classifica {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  width: 100%;
}
.classifica .table-container {
  margin-bottom: 1.5rem;
  border: 0.05rem solid rgb(245, 245, 245);
  border-radius: 0.25rem;
  overflow: hidden;
  box-sizing: border-box;
}
.classifica .table-container h2 {
  margin: 0;
  padding: 0.5rem;
  color: rgb(245, 245, 245);
  cursor: pointer;
  text-align: center;
}
.classifica .table-container .table-wrapper {
  display: none;
  padding: 0.5rem;
}
.classifica .table-container .table-wrapper.active {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow-x: scroll;
}
.classifica .table-container .table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.5);
}
.classifica .table-container .table-wrapper table th {
  background-color: rgba(255, 255, 255, 0.4);
}
.classifica .table-container .table-wrapper table th,
.classifica .table-container .table-wrapper table td {
  padding: 8px;
  text-align: center;
}
.classifica .table-container .table-wrapper table tr {
  position: relative;
}
.classifica .table-container .table-wrapper table .growUp {
  background-color: rgba(0, 128, 0, 0.3);
}
.classifica .table-container .table-wrapper table .growUp::after {
  content: " ";
  background-image: url("/assets/img/icons/arrow_up_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: lightgreen;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
}
.classifica .table-container .table-wrapper table .growDown {
  background-color: rgba(255, 0, 0, 0.3);
}
.classifica .table-container .table-wrapper table .growDown::after {
  content: " ";
  background-image: url("/assets/img/icons/arrow_down_red.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: lightcoral;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
}
.classifica .table-container .table-wrapper table,
.classifica .table-container .table-wrapper th,
.classifica .table-container .table-wrapper td {
  border: 0.05rem solid rgb(245, 245, 245);
  color: rgb(245, 245, 245);
}

#rosaAmbrosiana,
#rosaArmandillo,
#rosaAjajaxBrazorf,
#rosaAtleticoTerronya,
#rosaFCBahhhhhhh,
#rosaHannaver,
#rosaYoungBoy,
#rosaLeptisMagna,
#rosaMontescarsini,
#rosaMontrappoliUnited,
#rosaRealGurgugnao,
#rosaRealMadrink {
  display: flex;
  flex-direction: column;
  color: rgb(245, 245, 245);
  width: 100%;
  font-size: calc(15px + 5 * (100vw - 320px) / 1600);
  font-weight: 300;
}
#rosaAmbrosiana .rosa--row,
#rosaArmandillo .rosa--row,
#rosaAjajaxBrazorf .rosa--row,
#rosaAtleticoTerronya .rosa--row,
#rosaFCBahhhhhhh .rosa--row,
#rosaHannaver .rosa--row,
#rosaYoungBoy .rosa--row,
#rosaLeptisMagna .rosa--row,
#rosaMontescarsini .rosa--row,
#rosaMontrappoliUnited .rosa--row,
#rosaRealGurgugnao .rosa--row,
#rosaRealMadrink .rosa--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#rosaAmbrosiana .rosa--row:first-child,
#rosaArmandillo .rosa--row:first-child,
#rosaAjajaxBrazorf .rosa--row:first-child,
#rosaAtleticoTerronya .rosa--row:first-child,
#rosaFCBahhhhhhh .rosa--row:first-child,
#rosaHannaver .rosa--row:first-child,
#rosaYoungBoy .rosa--row:first-child,
#rosaLeptisMagna .rosa--row:first-child,
#rosaMontescarsini .rosa--row:first-child,
#rosaMontrappoliUnited .rosa--row:first-child,
#rosaRealGurgugnao .rosa--row:first-child,
#rosaRealMadrink .rosa--row:first-child {
  font-weight: 700;
}
#rosaAmbrosiana .rosa--row .rosa--ruolo,
#rosaAmbrosiana .rosa--row .rosa--calciatore,
#rosaAmbrosiana .rosa--row .rosa--costo,
#rosaArmandillo .rosa--row .rosa--ruolo,
#rosaArmandillo .rosa--row .rosa--calciatore,
#rosaArmandillo .rosa--row .rosa--costo,
#rosaAjajaxBrazorf .rosa--row .rosa--ruolo,
#rosaAjajaxBrazorf .rosa--row .rosa--calciatore,
#rosaAjajaxBrazorf .rosa--row .rosa--costo,
#rosaAtleticoTerronya .rosa--row .rosa--ruolo,
#rosaAtleticoTerronya .rosa--row .rosa--calciatore,
#rosaAtleticoTerronya .rosa--row .rosa--costo,
#rosaFCBahhhhhhh .rosa--row .rosa--ruolo,
#rosaFCBahhhhhhh .rosa--row .rosa--calciatore,
#rosaFCBahhhhhhh .rosa--row .rosa--costo,
#rosaHannaver .rosa--row .rosa--ruolo,
#rosaHannaver .rosa--row .rosa--calciatore,
#rosaHannaver .rosa--row .rosa--costo,
#rosaYoungBoy .rosa--row .rosa--ruolo,
#rosaYoungBoy .rosa--row .rosa--calciatore,
#rosaYoungBoy .rosa--row .rosa--costo,
#rosaLeptisMagna .rosa--row .rosa--ruolo,
#rosaLeptisMagna .rosa--row .rosa--calciatore,
#rosaLeptisMagna .rosa--row .rosa--costo,
#rosaMontescarsini .rosa--row .rosa--ruolo,
#rosaMontescarsini .rosa--row .rosa--calciatore,
#rosaMontescarsini .rosa--row .rosa--costo,
#rosaMontrappoliUnited .rosa--row .rosa--ruolo,
#rosaMontrappoliUnited .rosa--row .rosa--calciatore,
#rosaMontrappoliUnited .rosa--row .rosa--costo,
#rosaRealGurgugnao .rosa--row .rosa--ruolo,
#rosaRealGurgugnao .rosa--row .rosa--calciatore,
#rosaRealGurgugnao .rosa--row .rosa--costo,
#rosaRealMadrink .rosa--row .rosa--ruolo,
#rosaRealMadrink .rosa--row .rosa--calciatore,
#rosaRealMadrink .rosa--row .rosa--costo {
  border: 0.01rem solid rgba(255, 255, 255, 0.4);
  padding: 0.1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#rosaAmbrosiana .rosa--row .rosa--ruolo,
#rosaArmandillo .rosa--row .rosa--ruolo,
#rosaAjajaxBrazorf .rosa--row .rosa--ruolo,
#rosaAtleticoTerronya .rosa--row .rosa--ruolo,
#rosaFCBahhhhhhh .rosa--row .rosa--ruolo,
#rosaHannaver .rosa--row .rosa--ruolo,
#rosaYoungBoy .rosa--row .rosa--ruolo,
#rosaLeptisMagna .rosa--row .rosa--ruolo,
#rosaMontescarsini .rosa--row .rosa--ruolo,
#rosaMontrappoliUnited .rosa--row .rosa--ruolo,
#rosaRealGurgugnao .rosa--row .rosa--ruolo,
#rosaRealMadrink .rosa--row .rosa--ruolo {
  width: 15%;
}
#rosaAmbrosiana .rosa--row .rosa--calciatore,
#rosaArmandillo .rosa--row .rosa--calciatore,
#rosaAjajaxBrazorf .rosa--row .rosa--calciatore,
#rosaAtleticoTerronya .rosa--row .rosa--calciatore,
#rosaFCBahhhhhhh .rosa--row .rosa--calciatore,
#rosaHannaver .rosa--row .rosa--calciatore,
#rosaYoungBoy .rosa--row .rosa--calciatore,
#rosaLeptisMagna .rosa--row .rosa--calciatore,
#rosaMontescarsini .rosa--row .rosa--calciatore,
#rosaMontrappoliUnited .rosa--row .rosa--calciatore,
#rosaRealGurgugnao .rosa--row .rosa--calciatore,
#rosaRealMadrink .rosa--row .rosa--calciatore {
  width: 55%;
  text-transform: capitalize;
}
#rosaAmbrosiana .rosa--row .rosa--costo,
#rosaArmandillo .rosa--row .rosa--costo,
#rosaAjajaxBrazorf .rosa--row .rosa--costo,
#rosaAtleticoTerronya .rosa--row .rosa--costo,
#rosaFCBahhhhhhh .rosa--row .rosa--costo,
#rosaHannaver .rosa--row .rosa--costo,
#rosaYoungBoy .rosa--row .rosa--costo,
#rosaLeptisMagna .rosa--row .rosa--costo,
#rosaMontescarsini .rosa--row .rosa--costo,
#rosaMontrappoliUnited .rosa--row .rosa--costo,
#rosaRealGurgugnao .rosa--row .rosa--costo,
#rosaRealMadrink .rosa--row .rosa--costo {
  width: 30%;
  font-size: calc(18px + 14 * (100vw - 320px) / 1600);
}

#fullFormazioni {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  color: rgb(245, 245, 245);
  font-size: calc(15px + 5 * (100vw - 320px) / 1600);
  font-weight: 300;
  overflow-x: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#fullFormazioni .squadra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 0.01rem solid rgb(245, 245, 245);
}
#fullFormazioni .squadra .nomeSquadra {
  display: -webkit-box;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-bottom: 0.01rem solid rgb(245, 245, 245);
  font-weight: 400;
}
#fullFormazioni .squadra .giocatore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0.3rem 0;
}
#fullFormazioni .squadra .giocatore .nome {
  display: -webkit-box;
  text-align: center;
  width: 80%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 0.2rem;
}
#fullFormazioni .squadra .giocatore .costo {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 0 0.2rem;
}
#fullFormazioni .squadra .giocatore:nth-child(4), #fullFormazioni .squadra .giocatore:nth-child(12), #fullFormazioni .squadra .giocatore:nth-child(20) {
  border-bottom: 0.01rem solid rgb(245, 245, 245);
}
#fullFormazioni::-webkit-scrollbar {
  height: 0.3rem;
}
#fullFormazioni::-webkit-scrollbar-track {
  background: rgb(33, 33, 33);
}
#fullFormazioni::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
  border-radius: 0.5rem;
}
#fullFormazioni::-webkit-scrollbar-thumb:hover {
  background: #7b00ff;
  border-radius: 0.5rem;
}

.partiteCoppa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: rgb(245, 245, 245);
  font-size: calc(15px + 5 * (100vw - 320px) / 1600);
  font-weight: 300;
  overflow-x: scroll;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.partiteCoppa .partita {
  border: 0.01rem solid rgb(245, 245, 245);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 calc(100% - 0.5rem);
  gap: 0.5rem;
  box-sizing: border-box;
  margin: 0.5rem auto;
}
.partiteCoppa .partita .giornata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.01rem solid rgb(245, 245, 245);
  text-align: center;
  font-size: calc(18px + 14 * (100vw - 320px) / 1600);
  font-weight: 400;
  margin: 0;
  padding: 0rem 0 0.5rem 0;
}
.partiteCoppa .partita .dettagli {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.partiteCoppa .partita .dettagli .squadraCasa,
.partiteCoppa .partita .dettagli .squadraTrasferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.partiteCoppa .partita .dettagli .squadraCasa .nome,
.partiteCoppa .partita .dettagli .squadraTrasferta .nome {
  text-align: center;
}
.partiteCoppa .partita .dettagli .squadraCasa .punti,
.partiteCoppa .partita .dettagli .squadraTrasferta .punti {
  text-align: center;
}
.partiteCoppa .partita .dettagli .squadraCasa {
  width: 33%;
  border-right: 0.01rem solid rgb(245, 245, 245);
}
.partiteCoppa .partita .dettagli .risultato {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(20px + 16 * (100vw - 320px) / 1600);
  font-weight: 700;
}
.partiteCoppa .partita .dettagli .squadraTrasferta {
  width: 33%;
  border-left: 0.01rem solid rgb(245, 245, 245);
}
.partiteCoppa .partita .riposo {
  border-top: 0.01rem solid rgb(245, 245, 245);
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.partiteCoppa .partita .bg-red {
  background-color: rgba(255, 0, 0, 0.3);
}
.partiteCoppa .partita .bg-green {
  background-color: rgba(0, 128, 0, 0.3);
}
.partiteCoppa.lms .partita .dettagli {
  justify-content: center;
  flex-direction: column;
}
.partiteCoppa.lms .partita .dettagli .squadra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 0.01rem solid rgb(245, 245, 245);
  padding: 0.5rem;
}
.partiteCoppa.lms .partita .dettagli .squadra:last-child {
  background-color: rgba(255, 0, 0, 0.3);
  border-bottom: none;
}

@media (min-width: 768px) {
  #fullFormazioni {
    justify-content: flex-start;
  }
  .partiteCoppa .partita {
    width: 50%;
    flex: 1 1 calc(50% - 0.5rem);
  }
  .partiteCoppa.quarti .partita {
    width: 50%;
    flex: 1 1 calc(50% - 0.5rem);
  }
}
@media (min-width: 992px) {
  #fullFormazioni {
    justify-content: center;
  }
  .partiteCoppa .partita {
    width: 33%;
    flex: 1 1 calc(33% - 0.5rem);
  }
  .partiteCoppa.quarti .partita {
    width: 50%;
    flex: 1 1 calc(50% - 0.5rem);
  }
  .partiteCoppa.finale .partita {
    max-width: 60%;
    width: 60%;
    flex: 1 1 60%;
  }
}
.classificaRoyalRumble {
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
  -webkit-overflow-scrolling: touch; /* Permette uno scrolling più fluido su dispositivi touch */
  width: 100%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.classificaRoyalRumble::-webkit-scrollbar {
  height: 0.3rem;
}
.classificaRoyalRumble::-webkit-scrollbar-track {
  background: rgb(33, 33, 33);
}
.classificaRoyalRumble::-webkit-scrollbar-thumb {
  background: rgb(245, 245, 245);
  border-radius: 0.5rem;
}
.classificaRoyalRumble::-webkit-scrollbar-thumb:hover {
  background: #7b00ff;
  border-radius: 0.5rem;
}
.classificaRoyalRumble .table {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgb(245, 245, 245);
  font-size: calc(15px + 5 * (100vw - 320px) / 1600);
  font-weight: 300;
  width: 42rem;
}
.classificaRoyalRumble .table .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}
.classificaRoyalRumble .table .row .cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.01rem solid rgb(245, 245, 245);
  padding: 0.5rem;
}
.classificaRoyalRumble .table .row .cell.bg-green {
  background-color: rgba(0, 128, 0, 0.3);
}
.classificaRoyalRumble .table .row .cell.bg-red {
  background-color: rgba(255, 0, 0, 0.3);
}
.classificaRoyalRumble .table .row .cell:nth-child(1) {
  width: 3rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(2) {
  width: 10rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(3) {
  width: 4rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(4) {
  width: 4rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(5) {
  width: 4rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(6) {
  width: 4rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(7) {
  width: 5rem;
}
.classificaRoyalRumble .table .row .cell:nth-child(8) {
  width: 6rem;
}
.classificaRoyalRumble .table .row:nth-child(1) {
  font-weight: 700;
}

@media (min-width: 768px) {
  .classificaRoyalRumble .table {
    align-items: center;
  }
}
.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: rgb(245, 245, 245);
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: rgb(245, 245, 245);
}

/*= = = = = = = = = = = = = */
/*= = = = =MAIN = = = = = = */
/*= = = = = = = = = = = = = */
html,
body {
  background-color: rgb(33, 33, 33);
  transition: 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html *,
body * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.minilogo {
  width: 10rem;
}
@media (min-width: 768px) {
  .minilogo {
    width: 12.5rem;
  }
}
@media (min-width: 992px) {
  .minilogo {
    width: 15rem;
  }
}

.mobile {
  display: flex;
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
