@import 'components/variables';
@import 'components/header';
@import 'components/footer';
@import 'components/sidebar';
@import 'components/slider';
@import 'components/scrollbar';
@import 'components/table';

/*= = = = = = = = = = = = = */
/*= = = = =MAIN = = = = = = */
/*= = = = = = = = = = = = = */

html,
body {
    background-color: $dark;
    transition: $normal-transition;
    margin: 0;
    padding: 0;
    font-family: $roboto;
    overflow-x: hidden;
    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto;
    font-weight: $bold-weight;
    color: $light;
}

p {
    font-family: $roboto;
    font-weight: $regular-weight;
    color: $light;
}

main {
    position: relative;
    margin-top: 0;

    section {
        height: 0vh;
        width: 100vw;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: $slow-transition;
        position: relative;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        &.active {
            height: 100vh;
            opacity: 1;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                opacity: 1;
                transform: translateY(0);
            }

            &::after {}

        }

        * {
            z-index: 2;
        }

        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            flex-wrap: wrap;
            
            .galleryGiornate {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;

                img {
                    flex: 1 0 48%;
                    max-width: 48%;
                    height: auto;
                  }
            }
        }
    }
}


@media (min-width: $tablet) {
    main {
        section {
            .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;

                .galleryGiornate {
                    display: flex;
                    flex-wrap: nowrap;
    
                    img {
                        flex: 1 0 25%;
                        max-width: 25%;
                        height: auto;
                      }
                }
            }    
        }    
    }
}


@media (min-width: $desktop) {
    main {
        section {
            .row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;

                .galleryGiornate {}
            }    
        }    
    }
}


.mobile {
    display: flex;

    @media (min-width: $tablet) {
        display: none;
    }
}