.classifica {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    width: 100%;

    .table-container {
        margin-bottom: 1.5rem;
        border: 0.05rem solid $white;
        border-radius: .25rem;
        overflow: hidden;
        box-sizing: border-box;

        h2 {
            margin: 0;
            padding: .5rem;
            color: $white;
            cursor: pointer;
            text-align: center;
        }

        .table-wrapper {
            display: none;
            padding: .5rem;

            &.active {
                display: flex;
                justify-content: space-between;
                gap: 1.5rem;
                overflow-x: scroll;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                background-color: rgba(0, 0, 0, 0.5);

                th {
                    background-color: rgba(255, 255, 255, 0.4);
                }

                th,
                td {
                    padding: 8px;
                    text-align: center;
                }
                tr {
                    position: relative;
                }
                .growUp {
                    background-color: rgba(144, 238, 144, 0.5);
                    &::after {
                        content: " ";
                        background-image: url('/assets/img/icons/arrow_up_green.svg');
                        background-position: center;
                        background-repeat: no-repeat; 
                        color: lightgreen;
                        position: absolute;
                        left: .5rem;
                        top: .5rem;
                        width: 1rem;
                        height: 1rem;
                    }
                }
                .growDown {
                    background-color: rgba(240, 128, 128, 0.5);
                    &::after {
                        content: " ";
                        background-image: url('/assets/img/icons/arrow_down_red.svg');
                        background-position: center;
                        background-repeat: no-repeat; 
                        color: lightcoral;
                        position: absolute;
                        left: .5rem;
                        top: .5rem;
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }

            table,
            th,
            td {
                border: 0.05rem solid $white;
                color: $white;
            }
        }
    }
}

#rosaAmbrosiana,
#rosaArmandillo,
#rosaAjajaxBrazorf,
#rosaAtleticoTerronya,
#rosaFCBahhhhhhh,
#rosaHannaver,
#rosaYoungBoy,
#rosaLeptisMagna,
#rosaMontescarsini,
#rosaMontrappoliUnited,
#rosaRealGurgugnao,
#rosaRealMadrink {
    display: flex;
    flex-direction: column;
    color: $white;
    width: 100%;
    font-size: $text;
    font-weight: $light-weight;

    .rosa--row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        &:first-child {
            font-weight: $bold-weight;
        }

        .rosa--ruolo,
        .rosa--calciatore,
        .rosa--costo {
            border: 0.01rem solid rgba(255, 255, 255, 0.4);
            padding: 0.1rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rosa--ruolo {
            width: 15%;
        }
        .rosa--calciatore {
            width: 55%;
            text-transform: capitalize;
        }
        .rosa--costo {
            width: 30%;
            font-size: $h6-title-size;
        }

    }

}