
//colors
$dark: rgb(33, 33, 33);
$light: rgb(245, 245, 245);
$primary: #381d54;

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 992px;

//transitions
$fast-transition: 0.2s ease-in-out;
$normal-transition: 0.5s ease-in-out;
$slow-transition: 0.8s ease-in-out;


//font-size
$min-text: 14px;
$max-text: 24px;
$text: calc($min-text + (24 - 16) * ((100vw - 320px) / (1920 - 320)));

//title-size
$min-title: 24px;
$max-title: 36px;
$title: calc($min-title + (36 - 24) * ((100vw - 320px) / (1920 - 320)));

//font-weight
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

//font-family
$roboto: 'Roboto Condensed', sans-serif;