
//colors
$black: rgb(33, 33, 33);
$white: rgb(245, 245, 245);
$primary: #7b00ff;
$bg-light-red: rgba(255, 0, 0, 0.3);
$bg-light-green: rgba(0, 128, 0, 0.3);

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 992px;

//transitions
$fast-transition: 0.2s ease-in-out;
$normal-transition: 0.5s ease-in-out;
$slow-transition: 0.8s ease-in-out;

//title-size
$h1-title-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
$h2-title-size: calc(26px + (45 - 26) * ((100vw - 320px) / (1920 - 320))); // calcolato
$h3-title-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320))); // calcolato
$h4-title-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320))); // calcolato
$h5-title-size: calc(18px + (34 - 18) * ((100vw - 320px) / (1920 - 320))); // calcolato
$h6-title-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));

//font-size
$text: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));


//font-weight
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

//font-family
$roboto: 'Roboto Condensed', sans-serif;